
		* {
 			margin: 0px;
  			padding: 0px;
  			-webkit-box-sizing: border-box;
  			box-sizing: border-box;
		}
		body {
  			width: 100%;
  			font-family: "Montserrat", sans-serif;
			background: white;
		}
		#wrapper{
			 max-width: 100%;
 			 margin: 0;
  			 overflow: auto;
		}
		nav{
			color: white;
			background: #dd4538;
		}
		nav>div:nth-of-type(1){
			    font-size: 28px;
			    padding:15px 10px 5px 15px; 
		}
		nav>div:nth-of-type(2){  
				padding: 0 10px 10px 20px; 
		}
		section{
			display: flex;
			flex-direction: row;
			align-items: flex-start;
			justify-content: space-between;
			border-bottom: 5px solid #dd4538;
		}
		textarea{
			border-top: none;
			resize: vertical;
			padding:7px;
			font-size: 13px;
		}
 		aside p:nth-of-type(1){
    		color: black;
   			font-size: 30px;
  			 padding: 25px;
  			 padding-bottom: 5px;
		}
		aside p:nth-of-type(2){
    		color: black;
    		padding: 0 30px 10px;
   			font-size: 15px; 
		}
		pre{
			font-size:20px;
		}
		button {
 			 background-color: #dd4538;  
  			 border: none;
  			color: white;
  			text-align: center;
  			text-decoration: none;
  			display: inline-block;
  			font-size: 16px;
  			margin: 4px 2px;
  			cursor: pointer;
  			padding: 14px 50px;
		}
		button:hover{
			background: #4488f8;
		}
		aside:nth-of-type(2){
			display: flex;
			flex-direction: column;
			align-items: flex-end;
		}
		.disable{
			font-size: 33px;
   			margin: 20px;

		}
		footer{
			display: flex;
    		flex-direction: column;
   			 align-items: flex-start;
		}
		.box{align-self: center;}